<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="myConsole" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"  value="[%d{dd HH:mm:ss,SSS\} %-5p] [%t] %c{2\} - %m%n %L" />
        </layout>
        <!--过滤器设置输出的级别-->
        <!--<filter class="org.apache.log4j.varia.LevelRangeFilter">-->
            <!--<param name="levelMin" value="ALL" />-->
            <!--<param name="levelMax" value="ERROR" />-->
            <!--<param name="AcceptOnMatch" value="true" />-->
        <!--</filter>-->
    </appender>

	<!--<appender name="SysLog" class="org.apache.log4j.DailyRollingFileAppender">-->
		<!--<param name="File" value="/opt/log/ssd-bbs.log"/>-->
		  <!--<param name="Append" value="true" />-->
		<!--<param name="DatePattern" value="'.'yyyy-MM-dd" />-->
		<!--<layout class="org.apache.log4j.PatternLayout">-->
			<!--<param name="ConversionPattern" value="%d [%t] %-5p [%c] %L - %m%n" />-->
		<!--</layout>-->
		<!--<filter class="org.apache.log4j.varia.LevelRangeFilter">-->
			<!--<param name="LevelMax" value="ALL"/>-->
			<!--<param name="LevelMin" value="INFO"/>-->
		<!--</filter>-->
	<!--</appender>-->
	<!--<appender name="DataLog" class="org.apache.log4j.DailyRollingFileAppender">-->
		<!--<param name="File" value="/opt/log/ssd-bbs.log"/>-->
		  <!--<param name="Append" value="true" />-->
		<!--<param name="DatePattern" value="'.'yyyy-MM-dd" />-->
		<!--<layout class="org.apache.log4j.PatternLayout">-->
			<!--<param name="ConversionPattern" value="%m%n" />-->
		<!--</layout>-->
		<!--<filter class="org.apache.log4j.varia.LevelRangeFilter">-->
			<!--<param name="LevelMax" value="INFO"/>-->
			<!--<param name="LevelMin" value="INFO"/>-->
		<!--</filter>-->
	<!--</appender>-->

	<!--<category name="com.geda.site.common.log.DataLog" additivity="false">-->
       <!--<appender-ref ref="DataLog"/>-->
    <!--</category>-->
    <!--myibatis log configure-->
    <!--<logger name="com.apache.ibatis" level="DEBUG" />-->
    <!--<logger name="java.sql.Connection" level="DEBUG"/>-->
    <!--<logger name="java.sql.Statement" level="DEBUG"/>-->
    <!--<logger name="java.sql.PreparedStatement" level="DEBUG"/>-->

	<root>
<!--         <priority value ="INFO" />        -->
        <priority value ="all"/>
        <appender-ref ref="myConsole"/>
        <!--<appender-ref ref="SysLog" />-->
	</root>

</log4j:configuration>